<p><div class="review-rating" data-score="<%= review.rating %>"></div>
<%= review.comment %></p>

<% if user_signed_in? %>
	<% if review.user_id == current_user.id %>

		<%= link_to "Edit", edit_mentor_review_path(review.mentor, review) %>
		<%= link_to "Delete", mentor_review_path(review.mentor, review), method: :delete, data: {confirm: "Are you sure you want to delete your review?" } %>
	<% end %>
<% end %>